
form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 380px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
a{
    margin: 5px;
    justify-content:space-evenly ;
}
.btn-primary{
    margin-top: 10px;
    width: 80px;
    height: 35px;
    
}
